@font-face {
  font-family: shabnam;
  src: local(shabnam) url(../Fonts/wof2/Shabnam-FD.woff2) format(woff2);
}
* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: shabnam;
  background-image: url(../images/cpu2.webp);
  background-repeat: no-repeat;
  background-size: 1600px ;
  background-position: center;
}

.container{
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 56px;
  gap: 25px;
  
}

.header{
  height: 30px;
  width: 1280px;
  margin-top: -60px;
  justify-content: space-between;
}

.show-all{
  color: white;
  font-size: 18px;
}

.category{
  color: white;
  font-size: 25px;
}

.item{
  width: 300px;
  height: 350px;
  background-color: #9fb5d7;
  box-shadow: 3px 3px 2px yellow;

}

.item-img{
  width: 200px;
  margin: 20px 50px 0px 0px;
}

a{
  text-decoration: none;
}

p{
  color: rgb(83, 82, 82);
  margin: 10px 20px 0px 0px;
  font-size: 14px;
}
.price{
  display:flex;
  justify-content: flex-start;
  
}

.discount-value{
  width: 28px;
  height: 20px;
  font-size: 14px;
  border: 1px rgb(167, 167, 167) solid;
  background-color: rgb(209, 221, 231);
  color: rgb(67, 89, 212);
  margin-top: 50px;
}

.old-price{
  text-decoration: line-through;
  color: gray;
  margin-top: 50px;
  margin-right: 10px;
}

.price-rating{
  display: flex;
  justify-content: flex-start;
}

.price-rating2{
  display: flex;
  justify-content: flex-end;
  margin: -20px 0px 0px 0px;
}
 


 .bold-price{
  font-size: 20px;
  font-weight: 700;
  color: black;
 }

 .currency{
  font-weight: 500;
  font-size: 16px;
  color: black;
  margin: 12px 10px 0px 0px;
 }

.rating{
  margin-top: 1px;
  margin-left: 3px;
}
 .star-icon{
  width: 20px;
  margin: 0px 0px 0px 10px;
 }